.contact-section{
  margin-top: 12rem;
}
.contact-section-heading{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}
.contact-section-heading-underline{
  border: 1px solid black;
  width: 15rem;
  margin: 0 auto;
  height: .17rem;
}
.contact-section-heading-decription{
  margin: auto;
  padding: 2rem 30rem 2rem 30rem;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.contact-section-query-container{
  display: flex;
  padding: 3rem 8rem 6rem 8rem;
}
.contact-section-location-container,
.contact-section-contact-form{
  flex: 1;
  background: #f1f1f1; 
  border-radius: 0.5rem; 
  padding: 3rem 3rem 8rem 3rem;
}
.contact-section-location-container {
  margin-right: 1rem;
}
.location-container-map{
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.contact-section-location-container h5{
  font-size: 1.7rem;
  margin: 1rem 0 1rem 0;
}
.contact-section-location-container a{
  font-size: 1.4rem;
  color: #888686;
  margin-right: 2rem;
}
#contact-section-social-icon{
  font-size: 3rem;
}
.contact-section-contact-form{
  margin-left: 1rem;
}