/* ==================================================== extract.html css ================================================= */

.extract{
  height: 60rem;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
}


.extract .extract-main img{
width: 50rem;
max-width: 100%;
height: auto;
padding: 0 1rem;
}

.extract-text{
  width: 60rem;
  max-width: 100%;
  padding: 0 1rem;
}
.extract-main{
  width: 129rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.extract-text h1{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.extract-text p{
  font-size: 1.6rem ;
  color: #777777;
  line-height: 2.5rem ;
  margin-bottom: 3.5rem;
}
.extract-btn button{
  background: white;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  color:white;
  background-color:rgb(237, 129, 6) ;
  border: none;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.2);
}

.extract-btn button:hover{
  background-color: orange;
  color: white;
 transition: .3s;
 cursor: pointer;
}

/* ----------- Responsive extract us css code ---------------- */

@media screen and (max-width:1250px){
  .extract{
    width: 100%;
    height: auto;
    padding: 6rem 0;
  }
  .extract-text{
    text-align: center;
    margin: 4rem;
  }
}
@media screen and (max-width:650px){
  .extract .extract-main img{
    margin-bottom: 3.5rem;
  }
  .extract-text h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
}
